body {
	background-color: #222;
	color: #ddd;
	font-family: roboto condensed,Helvetica,Arial,sans-serif;
	font-size: 14px;
}

#uespD2SearchResultsTable {
	border-spacing: 0;
}

#uespD2SearchResultsTable tr {
	margin: 5px;
}

#uespD2SearchResultsTable tr:hover {
	background-color: #333;
}

#uespD2SearchResultsTable tr td:nth-child(3),
#uespD2SearchResultsTable tr td:nth-child(4),
#uespD2SearchResultsTable tr td:nth-child(5),
#uespD2SearchResultsTable tr td:nth-child(6) {
	text-align: center;
	font-size: 12px;
	padding: 3px;
}

a {
	color: #99f;
	text-decoration: none;
}

a:visit {
	color: #f99;
	text-decoration: none;
}

.uespD2SearchImage {
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px;
}

.uespD2SearchDescription {
	font-size: 11px;
	/* display: inline; */
}

a.uespDestiny2Toolip {
	font-weight: bold;
}

#uespD2SearchResultsTable tr td:nth-child(3) {
	text-align: center;
}